genesis input file:               bar.g
exodus output file:               wave.e
final time:                       1.0e-5
number of load steps:             10000
output frequency:                 100
output fields:                    displacement velocity deformation_gradient stress{ADDFIELDS}
material parameters:              material_1 neohookean density 7.8 shear_modulus {G}  bulk_modulus 1.0e12
macroscale block:                 block_1 material_1
#uq parameters:              material_1 shear_modulus gaussian {STD}
#uq model:                   quadature/samples {NSAMPLES} linear seed {SEED}
boundary condition:               initial_velocity nodelist_1 x 1000.0
boundary condition:               prescribed_velocity nodelist_2 x 0.0
boundary condition:               prescribed_velocity nodelist_1 y 0.0
boundary condition:               prescribed_velocity nodelist_1 z 0.0
